In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objs as go
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("bank-additional-full.csv", sep = ";")
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [3]:
import copy
clean_df = copy.deepcopy(df)
# clean_df.dtypes

In [4]:
clean_df["job"] = clean_df.job.astype("category")
clean_df["marital"] = clean_df.marital.astype("category")
clean_df["education"] = clean_df.education.astype("category")
clean_df["default"] = clean_df.default.astype("category")
clean_df["housing"] = clean_df.housing.astype("category")
clean_df["loan"] = clean_df.loan.astype("category")
clean_df["contact"] = clean_df.contact.astype("category")
clean_df["month"] = clean_df.month.astype("category")
clean_df["day_of_week"] = clean_df.day_of_week.astype("category")
clean_df["poutcome"] = clean_df.poutcome.astype("category")
clean_df['pdays'] = clean_df['pdays'].apply(lambda x: 0 if x==999 else(10 if x<=7 else(5 if x<=14 else 3)))
clean_df['y'] = clean_df['y'].apply(lambda x: 0 if x=='no' else (1 if x=='yes' else -1))

In [5]:
pd.set_option("display.max_columns", None)

In [6]:
clean_df.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,198,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,139,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,217,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,380,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
9,25,services,single,high.school,no,yes,no,telephone,may,mon,50,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [7]:
input_col = clean_df.columns.to_list()[:-1]

In [8]:
input_list = [25, 'services', 'married', 'high.school', 'no', 'no', 'no', 'telephone', 'may', 'mon', 123, 2, 0, 0, 'nonexistent', 1.3, 93.994, -36.4, 4.857, 5191.0]

In [9]:
input_df = pd.DataFrame(input_list).T
input_df.columns=input_col

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, BaggingClassifier, StackingClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score, RepeatedStratifiedKFold

In [11]:
clean_df.drop(['month', 'day_of_week'], axis=1, inplace=True)

In [12]:
y = clean_df.pop('y')

In [13]:
clean_df

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,housemaid,married,basic.4y,no,no,no,telephone,261,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,57,services,married,high.school,unknown,no,no,telephone,149,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,37,services,married,high.school,no,yes,no,telephone,226,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3,40,admin.,married,basic.6y,no,no,no,telephone,151,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4,56,services,married,high.school,no,no,yes,telephone,307,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,334,1,0,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41184,46,blue-collar,married,professional.course,no,no,no,cellular,383,1,0,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41185,56,retired,married,university.degree,no,yes,no,cellular,189,2,0,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41186,44,technician,married,professional.course,no,no,no,cellular,442,1,0,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41187,74,retired,married,professional.course,no,yes,no,cellular,239,3,0,1,failure,-1.1,94.767,-50.8,1.028,4963.6

In [14]:
cat_df = clean_df[clean_df.select_dtypes(include=['category']).columns]
num_df = clean_df[clean_df.select_dtypes(include=[np.number]).columns]

In [15]:
cat_cols = list(clean_df.select_dtypes(include=['object']).columns)
num_cols = list(clean_df.select_dtypes(include=[np.number]).columns)

In [16]:
cat_df

,job,marital,education,default,housing,loan,contact,poutcome
0,housemaid,married,basic.4y,no,no,no,telephone,nonexistent
1,services,married,high.school,unknown,no,no,telephone,nonexistent
2,services,married,high.school,no,yes,no,telephone,nonexistent
3,admin.,married,basic.6y,no,no,no,telephone,nonexistent
4,services,married,high.school,no,no,yes,telephone,nonexistent
...,...,...,...,...,...,...,...,...
41183,retired,married,professional.course,no,yes,no,cellular,nonexistent
41184,blue-collar,married,professional.course,no,no,no,cellular,nonexistent
41185,retired,married,university.degree,no,yes,no,cellular,nonexistent
41186,technician,married,professional.course,no,no,no,cellular,nonexistent
41187,retired,married,professional.course,no,yes,no,cellular,failure

In [17]:
num_df

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,261,1,0,0,1.1,93.994,-36.4,4.857,5191.0
1,57,149,1,0,0,1.1,93.994,-36.4,4.857,5191.0
2,37,226,1,0,0,1.1,93.994,-36.4,4.857,5191.0
3,40,151,1,0,0,1.1,93.994,-36.4,4.857,5191.0
4,56,307,1,0,0,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...,...,...,...
41183,73,334,1,0,0,-1.1,94.767,-50.8,1.028,4963.6
41184,46,383,1,0,0,-1.1,94.767,-50.8,1.028,4963.6
41185,56,189,2,0,0,-1.1,94.767,-50.8,1.028,4963.6
41186,44,442,1,0,0,-1.1,94.767,-50.8,1.028,4963.6
41187,74,239,3,0,1,-1.1,94.767,-50.8,1.028,4963.6

In [18]:
# eco = OneHotEncoder()
# eco_df=eco.fit_transform(cat_df)

In [19]:
OHE = OneHotEncoder()
scaler = StandardScaler()

level0 = list()
level0.append(('RF', RandomForestClassifier()))
level0.append(('GBM', GradientBoostingClassifier()))
level0.append(('XGB', XGBClassifier()))
level0.append(('Bagging', BaggingClassifier()))
level0.append(('LightGBM', LGBMClassifier()))

level1 = LGBMClassifier()
stacking_model = StackingClassifier(estimators=level0, final_estimator=level1, cv=10)

In [20]:
transformer = ColumnTransformer([('cat_cols', OHE, cat_cols),
                                ('num_cols', scaler, num_cols)])

pipeline = Pipeline([('preprocessing', transformer),
                    ('classifier', stacking_model)])

In [21]:
pipeline.fit(clean_df, y)

[23:06:30] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:07:11] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:07:12] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:07:12] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:07:12] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:07:13] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:07:13] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:07:14] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:07:14] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:07:14] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[23:07:15] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(transformers=[('cat_cols', OneHotEncoder(),
                                                  []),
                                                 ('num_cols', StandardScaler(),
                                                  ['age', 'duration',
                                                   'campaign', 'pdays',
                                                   'previous', 'emp.var.rate',
                                                   'cons.price.idx',
                                                   'cons.conf.idx', 'euribor3m',
                                                   'nr.employed'])])),
                ('classifier',
                 StackingClassifier(cv=10,
                                    estimators=[('RF',
                                                 RandomForestClassifier()),
                                                ('GBM',
                                                 Gradien...
                                                               min_child_weight=None,
                                                               missing=nan,
                                                               monotone_constraints=None,
                                                               n_estimators=100,
                                                               n_jobs=None,
                                                               num_parallel_tree=None,
                                                               predictor=None,
                                                               random_state=None,
                                                               reg_alpha=None,
                                                               reg_lambda=None,
                                                               scale_pos_weight=None,
                                                               subsample=None,
                                                               tree_method=None,
                                                               validate_parameters=None,
                                                               verbosity=None)),
                                                ('Bagging',
                                                 BaggingClassifier()),
                                                ('LightGBM', LGBMClassifier())],
                                    final_estimator=LGBMClassifier()))])

In [22]:
def deploy_preprocessing(input_list, input_col):
    # for i in range(len(list)):
    #     if list[i]=='NA' or ' ':
    #         list[i] = np.nan
    input_data = pd.DataFrame(input_list).T
    input_data.columns=input_col

    input_data['age'] = input_data.age.astype('int')
    input_data["job"] = input_data.job.astype("category")
    input_data["marital"] = input_data.marital.astype("category")
    input_data["education"] = input_data.education.astype("category")
    input_data["default"] = input_data.default.astype("category")
    input_data["housing"] = input_data.housing.astype("category")
    input_data["loan"] = input_data.loan.astype("category")
    input_data["contact"] = input_data.contact.astype("category")
    input_data["month"] = input_data.month.astype("category")
    input_data["day_of_week"] = input_data.day_of_week.astype("category")
    input_data['duration'] = input_data.duration.astype('int')
    input_data['campaign'] = input_data.campaign.astype('int')
    input_data['pdays'] = input_data['pdays'].apply(lambda x: 0 if x==999 else(10 if x<=7 else(5 if x<=14 else 3)))
    input_data['previous'] = input_data.previous.astype('int')
    input_data["poutcome"] = input_data.poutcome.astype("category")
    input_data['emp.var.rate'] = input_data['emp.var.rate'].astype('float')
    input_data['cons.price.idx'] = input_data['cons.price.idx'].astype('float')
    input_data['cons.conf.idx'] = input_data['cons.conf.idx'].astype('float')
    input_data['euribor3m'] = input_data['euribor3m'].astype('float')
    input_data['nr.employed'] = input_data['nr.employed'].astype('float')

    input_data.drop(['month', 'day_of_week'], axis=1, inplace=True)
    return input_data

In [23]:
input_data = deploy_preprocessing(input_list, input_col)

In [24]:
input_data

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,25,services,married,high.school,no,no,no,telephone,123,2,10,0,nonexistent,1.3,93.994,-36.4,4.857,5191.0

In [63]:
print(pipeline.predict(test)[0])

0

In [33]:
import pickle
pickle.dump(pipeline, open("pipeline.pkl", "wb"))

In [34]:
input_data

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,25,services,married,high.school,no,no,no,telephone,123,2,10,0,nonexistent,1.3,93.994,-36.4,4.857,5191.0

In [32]:
input_data.dtypes

age                  int32
job               category
marital           category
education         category
default           category
housing           category
loan              category
contact           category
duration             int32
campaign             int32
pdays                int64
previous             int32
poutcome          category
emp.var.rate       float64
cons.price.idx     float64
cons.conf.idx      float64
euribor3m          float64
nr.employed        float64
dtype: object

In [35]:
test_input = "25,services,married,high.school,no,no,no,telephone,123,2,10,0,nonexistent,1.3,93.994,-36.4,4.857,5191.0"

In [54]:
def get_input(string):
    lis = [str(x).strip() for x in string.split(',')]
    df = pd.DataFrame(lis).transpose()
    df.columns = ["age","job","marital","education","default",
                    "housing","loan","contact","duration",
                    "campaign","pdays","previous","poutcome",
                    "emp.var.rate","cons.price.idx","cons.conf.idx",
                    "euribor3m","nr.employed"]
    df['age'] = df.age.astype('int')
    df["job"] = df.job.astype("category")
    df["marital"] = df.marital.astype("category")
    df["education"] = df.education.astype("category")
    df["default"] = df.default.astype("category")
    df["housing"] = df.housing.astype("category")
    df["loan"] = df.loan.astype("category")
    df["contact"] = df.contact.astype("category")
    df['duration'] = df.duration.astype('int')
    df['campaign'] = df.campaign.astype('int')
    df['pdays'] = df.pdays.astype('int')
    df['previous'] = df.previous.astype('int')
    df["poutcome"] = df.poutcome.astype("category")
    df['emp.var.rate'] = df['emp.var.rate'].astype('float')
    df['cons.price.idx'] = df['cons.price.idx'].astype('float')
    df['cons.conf.idx'] = df['cons.conf.idx'].astype('float')
    df['euribor3m'] = df['euribor3m'].astype('float')
    df['nr.employed'] = df['nr.employed'].astype('float')
    

    return df


test = get_input(test_input)

In [50]:
test.columns = ["age","job","marital","education","default","housing","loan","contact","duration","campaign","pdays","previous","poutcome","emp.var.rate","cons.price.idx","cons.conf.idx","euribor3m","nr.employed"]

In [67]:
int(test["age"])

25

In [57]:
test.dtypes

age                  int32
job               category
marital           category
education         category
default           category
housing           category
loan              category
contact           category
duration             int32
campaign             int32
pdays                int32
previous             int32
poutcome          category
emp.var.rate       float64
cons.price.idx     float64
cons.conf.idx      float64
euribor3m          float64
nr.employed        float64
dtype: object